body{
	background-color:#d6dbe2;
}

footer{
	margin-top: 20px;
}

#currentUser{
	text-align:right;
}

.weatherviz{
	border-radius:7px;
	border: 2px solid #929093;
}

div.container {
	min-height: 400px;
}


.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}
.ui-autocomplete-loading { background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; }