body{
	background-color:#c9d3fe;
}

footer{
	margin-top: 20px;
}

#currentUser{
	text-align:right;
}

.weatherviz{
	border-radius:7px;
	border: 2px solid #929093;
}

div.container {
	min-height: 400px;
}